<!-- Blocks tab content -->
<div id="forms">
  <fieldset>
    <legend>
      Forms <%= link_to 'New Form', new_form_path(return_to: request.fullpath), class: 'btn btn-success btn-sm' %>
    </legend>
    <div class="form-group">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
              Submits
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <% @website.forms.each do |form| %>
            <tr id="form_<%=form.id%>">
              <td>
                <%= form.id %>
              </td>
              <td>
                <%= link_to form.name.present? ? form.name : '-', form_path(form) %>
              </td>
              <td>
                <%= form.form_responses.try(:count) %>
              </td>

              <td class="text-right">
                <%= link_to 'Edit', edit_form_path(form, return_to: request.fullpath), class: 'btn btn-sm btn-primary' %>
                <%= link_to 'Remove', form_path(form), remote: true, method: :delete, data: {confirm: "Delete the form '#{form.name}'?"}, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
