<div class="row">
  <div class="col-sm-8">
    <%= form_for(website) do |f| %>
      <% if website.errors.any? %>
        <div class="alert alert-danger">
          <strong><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</strong>

          <ul>
          <% website.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :account_id %>
        <%= f.select :account_id, current_user.accounts.collect {|x| [x.id, x.id]}, {}, :multiple => false, :class => 'form-control' %>
      </div>

      <div class="form-group" id="name">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group" id="about">
        <%= f.label :about %>
        <%= f.text_area :about, class: 'form-control summernote' %>
      </div>


      <div class="form-group">
        <%= f.label :domain_url %>
        <%= f.text_field :domain_url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :google_analytics %>
        <%= f.text_field :google_analytics, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :facebook %>
        <%= f.text_field :facebook, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :twitter %>
        <%= f.text_field :twitter, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tags %>
        <%= f.text_field :tags, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :theme %>
        <%= f.text_field :theme, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Logo
      </div>
      <div class="panel-body">
        <div id="logo" class="logo thumbnail <%= "#{@website.logo.class.name.tableize}_#{@website.logo.id}" if @website.logo.present?%>">
          <%= image_tag @website.logo.asset(:medium) if @website.logo.present?%>
        </div>
        <%= form_for(@website.logo||=Logo.new, remote: true, authenticity_token: true, format: 'js') do |f| %>
          <label class="btn btn-primary btn-file btn-block">
          Upload Logo <%= f.file_field :asset, multiple: false, name: "attachment[asset]", style: 'display: none;' %>
        </label>
          <%= link_to 'Remove Logo', logo_path(@website.logo), method: :delete, class: 'btn btn-danger btn-block', remote: true if @website.logo.asset.present? %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Hero Images
      </div>
      <div class="panel-body">
        <div id="heros" class="hero_images">
          <% @website.hero_images.each do |hero_image| %>
            <%= render 'hero_images/hero_image', hero_image: hero_image %>
          <% end %>
        </div>
        <%= form_for(HeroImage.new, attachable: @website, remote: true, authenticity_token: true, format: 'js') do |f| %>
          <%= f.hidden_field :attachable_id, value: @website.id, name: "attachment[attachable_id]" %>
          <%= f.hidden_field :attachable_type, value: 'Website', name: "attachment[attachable_type]" %>
          <label class="btn btn-primary btn-file btn-block">
          Upload Logo <%= f.file_field :asset, multiple: true, name: "attachment[asset]", style: 'display: none;' %>
        </label>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:0%">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</script>
