<script type="text/javascript">
  <%= render 'websites/edit.js' %>
</script>

<div class="row" id="website_form" ng-controller="WebsiteController as webCtrl" >
  <div class="col-sm-12">
    <% if website.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</strong>
      <ul>
        <% website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Website Info</a></li>
      <li role="presentation"><a href="#hero" aria-controls="home" role="tab" data-toggle="tab">Front Page Hero Images</a></li>
      <li role="presentation"><a href="#site" aria-controls="site" role="tab" data-toggle="tab">Site wide</a></li>
    </ul>
    <%= form_for(website) do |f| %>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <br/>
        </fieldset>
        <div class="form-group" id="name">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group" id="about">
          <%= f.label :about %>
          <%= f.text_area :about, class: 'form-control summernote' %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="hero">
        <br/>
        <fieldset>
          <legend>
            Hero Images
          </legend>
          <div class="row" ng-init="webCtrl.heros = <%= @website.hero_images.to_json %>; webCtrl.website_id = <%= @website.id %>">
            <div ng-repeat="hero in webCtrl.heros">
              <div class="clearfix" ng-if="$index % 3 == 0"></div>
              <div class="col-sm-4 hero_image_{{hero.id}}">
                <div class="panel panel-default">
                  <div>
                    <img ng-src="{{hero.medium}}" alt="{{hero.name}}" />
                  </div>
                  <div class=" panel-body">
                    <div class="form-group">
                      <input type="text"
                             name="title"
                             ng-model="hero.name"
                             ng-blur="webCtrl.save_hero(hero)"
                             class="form-control"
                             placeholder="Title"/>
                    </div>
                    <div class="form-group">
                      <textarea type="text"
                                name="sub_title"
                                ng-blur="webCtrl.save_hero(hero)"
                                ng-model="hero.about"
                                class="form-control"
                                placeholder="Subtitle"></textarea>
                    </div>
                    <div class="form-group">
                      <input  type="text"
                              name="link"
                              ng-blur="webCtrl.save_hero(hero)"
                              ng-model="hero.link"
                              class="form-control"
                              placeholder="Link"/>

                    </div>
                    <div class="form-group">
                      <input  type="text"
                              name="link"
                              ng-blur="webCtrl.save_hero(hero)"
                              ng-model="hero.link_text"
                              class="form-control"
                              placeholder="Link text"/>

                    </div>
                    <button type="button" ng-click="webCtrl.destroy_hero(hero)" class="btn btn-danger btn-block">
                      Remove
                    </button>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <button type="button" class="btn btn-primary" ngf-select="webCtrl.uploadFiles($files, $invalidFiles, webCtrl.website_id)" multiple
                  accept="image/*" ngf-max-size="10MB">
              Select Files</button>
          <br><br>
          <div>
            <div ng-if="!f.result" ng-repeat="f in files">{{f.name}} {{f.$errorParam}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{f.progress}}%">
                <span class="sr-only"></span>
                </div>
              </div>
            </div>
            <div ng-repeat="f in errFiles" class="alert alert-danger">{{f.name}} {{f.$error}} {{f.$errorParam}}
            </div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="site">
        <br/>
        <div class="form-group">
          <legend>
            Account
          </legend>
          <%= f.select :account_id, current_user.accounts.collect {|x| [x.id, x.id]}, {}, :multiple => false, :class => 'form-control' %>
        </div class="form-group">

        <div class="form-group">
          <%= f.label :css_override %>
          <%= f.text_area :css_override, rows: '6', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :domain_url %>
          <%= f.text_field :domain_url, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :google_analytics %>
          <%= f.text_field :google_analytics, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :facebook %>
          <%= f.text_field :facebook, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :twitter %>
          <%= f.text_field :twitter, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :tags %>
          <%= f.text_field :tags, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :theme %>
          <%= f.text_field :theme, class: 'form-control' %>
        </div>

        <fieldset>
          <legend>
            Logo
          </legend>
          <div class="form-group">
            <div id="logo" class="logo thumbnail <%= "#{@website.logo.class.name.tableize}_#{@website.logo.id}" if @website.logo.present?%>">
              <%= image_tag @website.logo.asset(:medium) if @website.logo.present?%>
            </div>
            <% @website.logo||=Logo.new %>
            <div id="logo_uploader" data-form-data='{"id": <%= @website.logo.try(:id)%>, "attachable_id": <%= @website.id %>,"attachable_type": "Website"}'>
              <label class="btn btn-primary btn-file">
                Upload Logo
                <input style="display:none;" type="file" name="asset" multiple>
              </label>
            </div>

            <%# link_to 'Remove Logo', logo_path(@website.logo), method: :delete, class: 'btn btn-danger', remote: true if @website.logo.asset.present? %>
          </div>

        </fieldset>

      </div>
      <hr/>
      <div class="form-group">
        <%= f.submit 'Save Website', class: 'btn btn-success btn-lg' %>
        <%= link_to 'Cancel', @website, class: "btn btn-default btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
