<div class="row" id="website_form" >
  <div class="col-sm-12">
    <% if website.errors.any? %>
      <div class="alert alert-danger">
        <strong><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</strong>
        <ul>
          <% website.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="<%= !params[:tab].present? ? 'active' : '' %>">
        <%= link_to 'Website Info', "#{@browser_request.path}" %>
      </li>
      <li class="<%= params[:tab] == 'hero' ? 'active' : '' %>">
        <%= link_to 'Hero Images', "#{@browser_request.path}?tab=hero" %>
      </li>
      <li class="<%= params[:tab] == 'site' ? 'active' : '' %>">
        <%= link_to 'Site Wide', "#{@browser_request.path}?tab=site" %>
      </li>
      <li class="<%= params[:tab] == 'blocks' ? 'active' : '' %>">
        <%= link_to 'Blocks', "#{@browser_request.path}?tab=blocks" %>
      </li>
    </ul>
    <br/>

      <div class="tab-content">
        <!-- Home tab content -->
        <% if !params[:tab].present? %>
          <%= form_for(@website) do |f| %>
            <fieldset>
              <dl class="dl-horizontal" id="home">
                <dt id="name">
                  <%= f.label :name %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :name, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :about %>
                </dt>
                <dd class="form-group" id="about">
                  <%= f.text_area :about, class: 'form-control summernote', data: {attachable_id: @current_website.id, attachable_type: "Website", drop:'false'} %>
                  <script type="text/javascript">
                    timyMceSetup('.summernote', '/websites/<%=@current_website.id%>/stylesheet.css', '#tiny_upload');
                    fixScroll({'fix': '.mce-toolbar-grp','top_marker': '#about','bottom_market': '#about_bottom'});
                  </script>
                  <div id="about_bottom">
                  </div>
                  <input name="image[asset]" data-attachable-id="<%=@current_website.id%>" data-attachable-type="Website" type="file" id="tiny_upload" class="hidden" onchange="">

                </dd>
                <dt>
                  <label>
                    Account
                  </label>
                </dt>
                <dd class="form-group">
                  <%= f.select :account_id, current_user.accounts.collect {|x| [x.id, x.id]}, {}, :multiple => false, :class => 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :css_override %>
                </dt>
                <dd class="form-group">
                  <%= f.text_area :css_override, rows: '6', class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :domain_url %>
                </dt>
                <dd class="form-group" id="domain_url">
                  <%= f.text_field :domain_url, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :google_analytics %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :google_analytics, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :description %>
                </dt>
                <dd class="form-group" id="description">
                  <%= f.text_area :description, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :facebook %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :facebook, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :twitter %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :twitter, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :tags %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :tags, class: 'form-control' %>
                </dd>
                <dt>
                  <%= f.label :theme %>
                </dt>
                <dd class="form-group">
                  <%= f.text_field :theme, class: 'form-control' %>
                </dd>
                <dt>
                </dt>
                <dd class="form-group btn-group">
                  <%= f.submit 'Save Website', class: 'btn btn-success' %>
                  <%= link_to 'Cancel', @website, class: "btn btn-default" %>
                </dd>
              </dl>
            </fieldset>
          <% end %>
        <% end %>
        <!-- Hero tab content -->
        <% if params[:tab] == 'hero' %>
          <div id="hero">
            <%= render 'websites/edit_hero' %>
          </div>
        <% end %>

        <!-- Site tab content -->
        <% if params[:tab] == 'site' %>
          <div id="site">
            <%= render 'websites/edit_logo' %>

            <%= form_for(@website, remote: true) do |f| %>
            <div class="form-group">
              <%= f.submit 'Save Website', class: 'btn btn-success' %>
              <%= link_to 'Cancel', @website, class: "btn btn-default" %>
            </div>
            <% end %>
          </div>
        <% end %>

        <!-- Blocks tab content -->
        <% if params[:tab] == 'blocks' %>
          <div id="blocks">
            <fieldset>
              <legend>
                Blocks <%= link_to 'New Block', new_block_path, remote: true, class: 'btn btn-success btn-sm' %>
              </legend>
              <div class="form-group">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        ID
                      </th>
                      <th>
                        Title
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Position
                      </th>
                      <th>
                        Location
                      </th>
                      <th>
                        Front
                      </th>
                      <th>

                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @website.blocks.each do |block| %>
                      <tr id="block_<%=block.id%>">
                        <td>
                          <%= block.id %>
                        </td>
                        <td>
                          <%= block.name %>
                        </td>
                        <td>
                          <%= block.block_type %>
                        </td>
                        <td>
                          <%= block.position %>
                        </td>
                        <td>
                          <%= block.location %>
                        </td>
                        <td class="">
                          <%= "<i class='fa fa-star fa-fw'></i>".html_safe if block.front_page.present? %>
                        </td>
                        <td class="text-right">
                          <%= link_to 'Edit', edit_block_path(block), remote: true, class: 'btn btn-sm btn-primary' %>
                          <%= link_to 'Remove', block_path(block), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete the block #{block.name}"}, class: 'btn btn-sm btn-danger' %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
        <% end %>
      </div>
  </div>

</div>
