<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="modal-header">
    <h4 class="modal-title">Sign up</h4>
  </div>
  <div class="modal-body">
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-sm-12">
        <legend>Website Info</legend>
      </div>
      <div class="col-sm-12 form-group">
        <label>Website Title</label>
        <%= f.text_field :website_name, class: 'form-control'%>
      </div>
      <div class="col-sm-12 form-group">
        <label>Website Domain</label>
        <%= f.text_field :website_domain, class: 'form-control'%>
      </div>
      <div class="col-sm-12">
        <hr/>
        <legend>Your Info</legend>
      </div>
      <div class="col-sm-12 form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="col-sm-12 form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control'%>
      </div>
      <div class="col-sm-12 form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <!-- <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div> -->
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
      <div class="col-sm-6 text-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

<% end %>
