<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@page.name} - " if @page.present? %> <%= @current_website.try(:name) %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track': 'reload' if current_user.present?%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' if current_user.present? %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style media="screen">
      <%= @current_website.try(:css_override)%>
    </style>
    <%= yield :head %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>" id="body" ng-controller="BaseController as baseCtrl" ng-init="baseCtrl.website = <%= @current_website.to_json %>; baseCtrl.website.logo = <%= @current_website.logo.to_json %>" >
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="pull-right"><i class="glyphicon glyphicon-menu-hamburger"></i> MENU</span>
          </button>
          <% if @current_website.logo.try(:asset).present?  %>
            <a class="logo navbar-brand <%= "#{@current_website.logo.class.name.tableize}_#{@current_website.logo.id}" %>" href="/">
              <img ng-src="{{baseCtrl.website.logo.medium}}" ng-show="baseCtrl.website.logo.medium" alt="" />
              <%= image_tag @current_website.logo.medium, ng_hide: 'baseCtrl.website.logo.medium' %>
            </a>
          <% else %>
            <a class="logo navbar-brand" href="/"><%= @current_website.name %></a>
          <% end %>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <% cache [@current_website, @current_website.pages] do %>
              <% @current_website.pages.where(page_id: [nil,'']).each do |page| %>
                <% if page.pages.present? %>
                  <li class='dropdown'>
                    <%= link_to "#{page.name} <span class='caret'></span>".html_safe, page_path(page), class: 'dropdown-toggle', 'data-toggle': '' %>
                    <ul class="dropdown-menu">
                      <% page.pages.each do |page2| %>
                        <li>
                          <%= link_to page2.name, page_path(page2) %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <%= link_to page.name, page_path(page) %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <% cache [@current_website, current_user] do %>
              <% if user_signed_in? %>
                <li>
                    <%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_website_page_path(@current_website) %>
                </li>
                <li>
                  <span>
                    <%= link_to "<span class='hidden-sm'>#{current_user.name}</span>".html_safe, user_path(current_user), class: 'btn btn-primary inverse navbar-btn' %>
                    <%= link_to "<span class='hidden-sm'>Sign out</span>".html_safe, destroy_user_session_path, method: :get, class: 'btn btn-primary btn-inverse navbar-btn' %>
                  </span>
                </li>
              <% end %>
            <% end %>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <%= render partial: 'layouts/messages' %>

    <% if "#{params[:controller]}_#{params[:action]}" == "websites_home" && @current_website.hero_images.any? %>
      <% cache [@current_website.hero_images, current_user] do %>
        <%= render 'layouts/hero_image' %>
      <% end %>
    <% end %>



    <div class="">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <footer class="footer">
    <div class="container">
      <% cache [@current_website, current_user] do %>
        <p class="text-muted text-center"> <%= @current_website.name %> &copy; <%= Time.now.year %></p>
      <% end %>
    </div>
  </footer>
</html>
