<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@page.name} - " if @page.present? %> <%= @current_website.try(:name) %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track': 'reload' if current_user.present?%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' if current_user.present? %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/google_script' %>

    <%= render 'layouts/mobile_nav' %>

    <div id="body">
    <!-- Fixed navbar -->

    <%= render 'layouts/top_nav', inverse: false, fixed: false %>

    <%= render 'layouts/messages' %>

    <%= render 'layouts/hero_image' %>

    <%= yield :hero %>

    <%= yield :top_block %>

    <div class="container">
      <%= yield %>
    </div>

    <%= yield :bottom_block %>

    <footer class="footer">
      <div class="container">
        <%= yield :footer %>
        <p class="text-muted text-center"> <%= @current_website.name %> &copy; <%= Time.now.year %></p>
      </div>
    </footer>
  </div>

  <%= render 'layouts/mobile_nav_scripts' %>

  </body>
</html>
