<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_common' %>

    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> has-<%= @current_website.style['nav-fixed'].present? ? 'fixed' : 'static' %>-navbar">
    <%= render 'layouts/google_script' %>

    <%= render 'layouts/mobile_nav' %>

    <div id="body">
    <!-- Fixed navbar -->

    <%= render 'layouts/top_nav', inverse: false, fixed: false %>

    <%= render 'layouts/messages' %>

    <%= render 'layouts/hero_image' %>

    <%= yield :hero %>

    <%= yield :top_block %>

    <div class="container">
      <%= yield %>
    </div>

    <%= yield :bottom_block %>

    <%= render 'layouts/footer' %>

  </div>

  <%= render 'layouts/mobile_nav_scripts' %>

  </body>
</html>
