<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_common' %>

    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> has-<%= @current_website.style['nav-fixed'].present? ? 'fixed' : 'static' %>-navbar">
    <%= render 'layouts/google_script' %>
    <div id="mobile_nav">
      <%= render 'layouts/mobile_nav' %>
    </div>

    <div id="body">
    <!-- Fixed navbar -->
    <div top_nav="">
      <%= render 'layouts/top_nav' %>
    </div>

    <%= render 'layouts/messages' %>

    <% if "#{params[:controller]}_#{params[:action]}" == "websites_home" %>
      <div id="hero_image">
        <%= render 'layouts/hero_image' %>
      </div>
    <% end %>

    <%= yield :hero %>

    <%= yield :top_block %>

    <div class="container">
      <%= yield %>
    </div>

    <%= yield :bottom_block %>

    <% if "#{params[:controller]}_#{params[:action]}" == "websites_home" && @current_website.blocks.where(front_page: true).any? %>
      <%= content_tag('div', "#{render 'blocks/main_blocks', blocks: @website.blocks.where(front_page: true)}".html_safe, id: 'main-blocks') %>
    <% end %>


    <%= render 'layouts/footer' %>

  </div>

  <%= render 'layouts/mobile_nav_scripts' %>

  </body>
</html>
