<!DOCTYPE html>
<html class="<%= 'can_edit' if can? :edit, @current_website %>">
  <head>
    <%= render 'layouts/head_common' %>

    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> has-<%= @current_website.style['nav-fixed'].present? ? 'fixed' : 'static' %>-navbar">
    <%= render 'layouts/google_script' %>
    <div id="mobile_nav">
      <%= render 'layouts/mobile_nav' %>
    </div>

    <div id="body">
      <!-- Fixed navbar -->
      <div top_nav="">
        <%= render 'layouts/top_nav' %>
      </div>

      <%= render 'layouts/messages' %>

      <div class="content container">
        <%= yield %>
      </div>

      <%= yield :page_blocks %>

      <%= render 'layouts/footer' %>

    </div>

    <%= render 'layouts/mobile_nav_scripts' %>

  </body>
</html>
