<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <%= block.block_type.capitalize if block.block_type.present? %> Block
  </h4>
</div>
<%= form_for(block, remote: true) do |f| %>

  <div class="modal-body">

    <div class="form-group" id="name">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Title' %>
    </div>

    <div class="form-group" id="about">
      <%= f.text_area :about, class: 'summernote form-control', rows: '6', placeholder: 'Content', data: {attachable_id: block.page_id, attachable_type: "Page", drop:'true'}  %>
      <input name="image[asset]" data-attachable-id="<%=@current_website.id%>" data-attachable-type="Website" type="file" id="tiny_block_upload" class="hidden" onchange="">
    </div>


    <%= render 'blocks/input/text_align', block: block, f: f %>

    <%= render 'blocks/input/bg_color', block: block, f: f %>

    <%= render 'blocks/input/bg_image', block: block %>

  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6 text-left">
        <%= f.submit 'Save & Close', class: 'btn btn-success' %>
        <button type="submit" name="block[continue_edit]" value='true' class="btn btn-primary">
          Save & Continue
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to 'Delete', block, method: :delete, class: "btn btn-danger pull-right", :data => {:confirm => 'Delete this block?'}, remote: true if block.id.present? && (can? :destroy, block) %>
      </div>
    </div>
  </div>
<% end %>
