<h2 class="page-title">
  <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Edit".html_safe, edit_user_path(@user), class: 'pull-right btn btn-sm btn-primary inverse' %>
  <%= @user.name %>
</h2>
<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Accounts</dt>
  <% @user.accounts.each do |account| %>
    <dd><%= link_to account.id, account_path(account) %></dd>
    <% account.websites.each do |website| %>
      <dd><%= link_to website.name, website_path(website) %></dd>
    <% end %>
  <% end %>
</dl>
<% @user.accounts.each do |account| %>
  <h3>Account: <%= account.id %></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Website name
        </th>
        <th>
          Domain URL
        </th>
        <th>
          Pg count
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody>
      <% account.websites.each do |website| %>
        <tr>
          <td>
            <%= website.name %>
          </td>
          <td>
            <%= "#{website.rethink_url}, #{website.domain_url}" %>
          </td>
          <td>
            <%= website.pages.count %>
          </td>
          <td class="text-right">
            <%= link_to 'Go to', "#{website.rethink_href}", class: 'btn btn-info btn-sm', target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
