<br/>
<h1 class="page-title">
  <%= @user.name %>
  <small><%= @user.email %></small>
  <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Edit".html_safe, edit_user_path(@user), class: 'btn pull-right btn-primary' %>
</h1>
<br/>
<dl class="hide dl-horizontal well">
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Accounts</dt>
  <% @user.accounts.each do |account| %>
    <dd><%= link_to account.id, account_path(account) %></dd>
    <dt>Websites</dt>
    <% account.websites.each do |website| %>
      <dd><%= link_to website.name, website_path(website) %></dd>
    <% end %>
  <% end %>
</dl>
<!-- <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'Websites', user_path(@user,{tab: ''}) %>
  </li>
  <li class="">
    <%= link_to 'Profile', user_path(@user,{tab: 'Profile'}) %>
  </li>
  <li class="">
    <%= link_to 'Account', user_path(@user,{tab: 'Account'}) %>
  </li>
</ul>
<br/> -->

<%= render 'users/user_websites', '@user': @user if params[:tab].blank? || params[:tab] == 'website' %>
<%# render 'users/user_websites', '@user': @user if params[:tab] == 'profile' %>
<%# render 'users/user_websites', '@user': @user if params[:tab] == 'account' %>
