<div class="clearfix block sub_block <%= block.bg_color.present? ? 'block_with_bg_color' : 'block_no_bg_color' %>" id="<%= dom_id(block) %>" style="background-color: <%= block.bg_color %>">
  <%= link_to (image_tag block.image.medium), block.link, class: 'block-image' if block.image.present? %>
  <%= content_tag('h4',block.name, class: 'block-title') if block.name.present? %>
  <%= content_tag('div',block.about.html_safe, class: 'block-about') if block.about.present? %>
  <%= content_tag('div', (link_to "#{block.link_text || 'Go'}", block.link, class: 'btn btn-primary'), class: 'block-link text-center') if block.link.present? %>
  <% if can? :update, block %>
    <div class="btn-group block-edit">
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_block_path(block), remote: true, class: 'btn btn-primary btn-sm btn-circle' if can? :update, block  %>
      <%= link_to '<i class="fa fa-trash"></i>'.html_safe, block_path(block), method: :delete, remote: true, data: {confirm: "Delete this block?"}, class: 'btn btn-danger btn-sm btn-circle' if can? :update, block  %>
    </div>
  <% end %>
</div>
