<% if block.block_type.present? %>
  <%= render "blocks/#{block.block_type}/form", block: block %>
<% else %>
  <%= form_for(block, remote: true) do |f| %>
    <!-- MODAL HEADER -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <%= block.block_type.capitalize if block.block_type.present? %> Block
      </h4>
    </div>

    <!-- MODAL HIDDEN FIELDS -->
    <input type="hidden" value="<%= block.page_id %>" name="block[page_id]">
    <input type="hidden" value="<%= @current_website.id %>" name="block[website_id]">
    <input type="hidden" value="<%= block.block_type %>" name="block[block_type]">
    <input type="hidden" value="<%= block.id %>" name="block[id]">
    <input type="hidden" value="<%= block.position %>" name="block[position]">

    <!-- MODAL BODY -->
    <div class="modal-body">

      <% if !block.block_type.present? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="list-group panel panel-default" style="box-shadow: 0px 1px 3px rgba(0,0,0,.3)">
              <% Block::TOP_LEVEL_BLOCKS.each do |block_type| %>
                <% unless (t :disabled, scope: [:block_types, block_type.to_sym]) == true %>
                  <%= link_to "
                      <strong class='text-primary'>#{t :name, scope: [:block_types, block_type.to_sym] }</strong><br/>
                      #{t :about, scope: [:block_types, block_type.to_sym] }
                  ".html_safe, edit_block_path(block, {block_type: block_type, page_id: params[:page_id]}), class: 'list-group-item', remote: true %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
