<%= form_for(block, remote: (remote||false)) do |f| %>
<!-- MODAL HEADER -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <%= block.block_type.capitalize if block.block_type.present? %> Block
  </h4>
  <script type="text/javascript">
    function check_checkbox(){
      var parent = $(this).parent();
      var active_class = "btn-primary";
      this.checked ? parent.addClass(active_class) : parent.removeClass(active_class);
    }
    $('#front_page_input').change(check_checkbox).change();
  </script>
</div>

<!-- MODAL HIDDEN FIELDS -->
<% if action_name == 'new' && params[:page_ids].present? %>
  <input type="hidden" value="<%= params[:page_ids][0].to_i %>" name="block[page_ids][]">
  <input type="hidden" value="<%= @current_website.id %>" name="block[website_id]">
<% end %>

<!-- MODAL BODY -->
<div class="modal-body">

<div class="row">
  <!-- ERROR MESSAGES -->
  <div class="col-sm-12 form-group">
    <% if block.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>
        <ul>
        <% block.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12">
    <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
      <dl class="dl-horizontal form-group <%= 'hide' if block.id.present? %>" id="block_type">
        <dt class="dt-label">
          Block type
        </dt>
        <dd>
          <div class="row">
            <% Block::BLOCK_TYPES.each do |block_type| %>
              <div class="col-xs-<%= (12 / Block::BLOCK_TYPES.count).ceil %>">
                <button type="button" <%= block.id.present? ? 'disabled' : '' %> class="btn btn-block btn-primary inverse <%= 'active' if block_type == block.block_type %>"
                        id="<%= block_type %>" onClick="setBlockType(this)">
                        <%= block_type.capitalize %></button>
              </div>
            <% end %>
          </div>
          <div class="hide">
            <%= f.select :block_type, Block::BLOCK_TYPES, {:include_blank => "-- Select a type --"}, :class => 'form-control' %>
          </div>
        </dd>
      </dl>
      <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
        <dl class="dl-horizontal form-group hide">
            <dt class="dt-label">
              Front page
            </dt>
            <dd>
              <label class="btn btn-default"><%= f.check_box :front_page, autocomplete: "off", id: 'front_page_input' %> Show on front page</label>
            </dd>
        </dl>
      <% end %>
      <dl class="dl-horizontal form-group" id="block">
        <dt class="dt-label">
          Container Block
        </dt>
        <dd>
          <%= f.select :block_id, block.parent_block_options.collect {|x| [x.name.present? ? "#{x.name} (#{x.blocks.count})" : "Block id: #{x.id} (#{x.blocks.count})", x.id]}, {:include_blank => "-- Select a Container --"}, :class => 'form-control' %>
        </dd>
      </dl>
      <dl class="dl-horizontal form-group" id="columns">
        <dt class="dt-label">
          Max Columns
        </dt>
        <dd>
          <%= f.select :columns, [1,2,3,4], {}, :class => 'form-control' %>
        </dd>
      </dl>
      <dl class="dl-horizontal form-group" id="location">
        <dt class="dt-label">
          Location
        </dt>
        <dd id="location">
          <%= f.select :location, Block::REGIONS, {:include_blank => "-- Select a location --"}, :class => 'form-control' %>
        </dd>
      </dl>
      <dl class="dl-horizontal form-group">
        <dt class="dt-label">
          Block position
        </dt>
        <dd id="position">
          <%= f.select :position, (1..20).to_a, {},class: 'form-control' %>
        </dd>
      </dl>
    <% end %>
    <script type="text/javascript">
      var default_options = <%= Block::REGIONS.to_json.html_safe %>;
      var main_options = <%= Block::CONTENT_REGIONS.to_json.html_safe %>;
      var location_value = '<%= block.location %>';

      function set_options(){
        if($('#block_type select').val() != 'sub_block'){
          $('#block').hide();
          $('#location').show();
          $('#location select').empty();
          default_options.forEach(function(option){
            $('#location select').append("<option>" + option + "</option>");
          });
          if($('#block_type select').val() == 'container'){
            $('#columns').show();
          }else{
            $('#columns').hide();
          }
        }else{
          $('#columns').hide();
          $('#block').show();
          $('#location').hide();
        };
        $('#location select').val(location_value).change();
      }

      function hide_navigation_fields(){
        var name_about = $('#name, #about');
        if($('#block_type select').val() == 'navigation'){
          name_about.hide();
        }else{
          name_about.show();
        }
      }
      $('#block_type select').change(set_options);
      $('#block_type select').change(hide_navigation_fields);
      $('#block_type select').change();

      function setBlockType(div){
        $('#block_type select').val(div.id).change();
        $('#block_type button.active').removeClass('active');
        $(div).addClass('active');
      }
    </script>

  <!-- IMAGE UPLOAD -->

  <% if @block.id.present? %>
    <dl class="dl-horizontal" id="image_block">
      <dt class="dt-label">
        Image
      </dt>
      <dd class="form-group">
        <span class="btn btn-default btn-block fileinput-button">
            <!-- The file input field used as target for the file upload widget -->
            <span><i class="fa fa-photo"></i> Upload image</span>
            <input id="fileupload" type="file" name="image[asset]">
        </span>
      </dd>
      <dd class="form-group">
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <!-- The global progress bar -->

        <div id="progress" class="hide progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>

        <div id="images">
          <%= render 'images/image', image: block.image if block.image.present? %>
        </div>
      </dd>

      <%# link_to 'Remove Logo', logo_path(@website.logo), method: :delete, class: 'btn btn-danger', remote: true if @website.logo.asset.present? %>
      <script type="text/javascript">
        $('#fileupload').fileupload({
          dataType: 'script',
          url: '/images',
          type: 'POST',
          multipart: true,
          add: function(e, data){
            data.formData = {"image[attachable_id]": <%= block.id %>, "image[attachable_type]": 'Block'};
            <% if block.image.present? %>
              data.formData.id = <%= block.image.id %>;
            <% end %>
            var file, types;
            types = /(\.|\/)(gif|jpe?g|png)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name)) {
              data.context = $('<div class="loading">' + file.name + '</div>');
              $('#files').append(data.context);
              return data.submit();
            } else {
              return alert(file.name + " is not a gif, jpeg, or png image file");
            }
          },
          progress: function(e, data) {
            var progress;
            if(data.context) {
              progress = parseInt(data.loaded / data.total * 100, 10);
              $('.progress').removeClass('hide');
              return $('.progress-bar').css('width', progress + '%');
              console.log(progress)
            }
          },
          done: function(e, data){
            if (data.context) {
              console.log('done')
              $('.progress').addClass('hide');
              return data.context.remove();
            }
          }
        });
      </script>

      <dt class="dt-label">
        BG Color
      </dt>
      <dd id="bg_color" class="form-group">
        <%= f.text_field :bg_color, class: 'form-control color', id: 'color', name: 'block[bg_color]' %>
      </dd>

    </dl>
  <% end %>

  <script type="text/javascript">
    $("#color").colorpicker();
  </script>

  <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
    <dl class="dl-horizontal">

      <dt class="dt-label">
        Name
      </dt>
      <dd class="form-group" id="name">
        <%= f.text_field :name, class: 'form-control' %>
      </dd>

      <dt class="dt-label">
        About
      </dt>
      <dd class="form-group" id="about">
        <%= f.text_area :about, class: 'form-control', rows: '6' %>
        <input name="image[asset]" data-attachable-id="<%=@current_website.id%>" data-attachable-type="Website" type="file" id="tiny_block_upload" class="hidden" onchange="">

        <script type="text/javascript">
          timyMceSetup('#block_about', '/websites/<%=@current_website.id%>/stylesheet.css', '#tiny_block_upload');
        </script>
      </dd>
      <dd class="about_bottom"></dd>
      <dt class="dt-label">
        Text Align
      </dt>
      <dd class="form-group" id="text_align">
        <%= f.select :text_align, Block::TEXT_ALIGN_OPTIONS, {}, :class => 'form-control' %>
      </dd>
    </dl>

  <% end %>

  <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
    <dl class="dl-horizontal">

      <dt class="dt-label">
        Link
      </dt>
      <dd class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :link, class: 'form-control', placeholder: 'http://example.com or /pages/about' %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :link_text, class: 'form-control', placeholder: 'Learn more' %>
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
  </div>
</div>
</div>
<div class="modal-footer">
  <div class="text-center">
    <%= f.submit 'Save & Close', class: 'btn btn-success' %>
    <button type="submit" name="block[continue_edit]" value='true' class="btn btn-success">
      Save & Continue
    </button>
  </div>
</div>

<% end %>
