<%= form_for(block) do |f| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about %>
  </div>

  <div class="form-group">
    <%= f.label :website_id %>
    <%= f.text_field :website_id %>
  </div>

  <div class="form-group">
    <%= f.label :block_type %>
    <%= f.text_field :block_type %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
