<%= form_for(block, remote: (remote||false)) do |f| %>
<% if action_name == 'new' && params[:page_ids].present? %>
  <input type="hidden" value="<%= params[:page_ids][0].to_i %>" name="block[page_ids][]">
  <input type="hidden" value="<%= @current_website.id %>" name="block[website_id]">
<% end %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <%= block.block_type.capitalize if block.block_type.present? %> Block
    <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
      &nbsp;<label class="btn btn-default btn-sm"><%= f.check_box :front_page, autocomplete: "off", id: 'front_page_input' %> Show on the front page</label>
    <% end %>
  </h4>
  <script type="text/javascript">
    function check_checkbox(){
      var parent = $(this).parent();
      var active_class = "btn-primary";
      this.checked ? parent.addClass(active_class) : parent.removeClass(active_class);
    }
    $('#front_page_input').change(check_checkbox).change();
  </script>
</div>
<div class="modal-body">

  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript">
    var default_options = <%= Block::REGIONS.to_json.html_safe %>;
    var main_options = <%= Block::CONTENT_REGIONS.to_json.html_safe %>;
    var location_value = '<%= block.location %>';

    function set_options(){
      if($('#block_type select').val() != 'sub_block'){
        $('#block').hide();
        $('#location').show();
        $('#location select').empty();
        default_options.forEach(function(option){
          $('#location select').append("<option>" + option + "</option>");
        });
      }else{
        $('#block').show();
        $('#location').hide();
      };
      $('#location select').val(location_value).change();
    }

    function hide_navigation_fields(){
      var name_about = $('#name, #about');
      if($('#block_type select').val() == 'navigation'){
        name_about.hide();
      }else{
        name_about.show();
      }
    }
    $('#block_type select').change(set_options);
    $('#block_type select').change(hide_navigation_fields);
    $('#block_type select').change();

    function setBlockType(div){
      $('#block_type select').val(div.id).change();
      $('#block_type a.active').removeClass('active');
      $(div).addClass('active');
    }
  </script>

  <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>
    <div class="" id="block_type">
      <% unless @block.id.present? %>
        <div class="form-group btn-group btn-group-justified">
          <% Block::BLOCK_TYPES.each do |block_type| %>
            <a class="btn btn-primary inverse <%= 'active' if block_type == block.block_type %>" id="<%= block_type %>" onClick="setBlockType(this)"><%= block_type.capitalize %></a>
          <% end %>
        </div>
      <% end %>
      <div class="hide">
        <label>Block Type</label>
        <%= f.select :block_type, Block::BLOCK_TYPES, {:include_blank => "-- Select a type --"}, :class => 'form-control' %>
      </div>
    </div>
    <% if @block.id.present? %>
      <div class="form-group" id="image_block">
        <label>Block image</label>
        <div class="form-group">
          <span class="btn btn-info btn-block fileinput-button">
              <span><i class="fa fa-photo"></i> Upload image</span>
              <!-- The file input field used as target for the file upload widget -->
              <input id="fileupload" type="file" name="image[asset]">
          </span>
        </div>

        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <!-- The global progress bar -->

        <div id="progress" class="hide progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>

        <div id="images">
          <%= render 'images/image', image: block.image if block.image.present? %>
        </div>

        <%# link_to 'Remove Logo', logo_path(@website.logo), method: :delete, class: 'btn btn-danger', remote: true if @website.logo.asset.present? %>
        <script type="text/javascript">
          $('#fileupload').fileupload({
            dataType: 'script',
            url: '/images',
            type: 'POST',
            multipart: true,
            add: function(e, data){
              data.formData = {"image[attachable_id]": <%= block.id %>, "image[attachable_type]": 'Block'};
              <% if block.image.present? %>
                data.formData.id = <%= block.image.id %>;
              <% end %>
              var file, types;
              types = /(\.|\/)(gif|jpe?g|png)$/i;
              file = data.files[0];
              if (types.test(file.type) || types.test(file.name)) {
                data.context = $('<div class="loading">' + file.name + '</div>');
                $('#files').append(data.context);
                return data.submit();
              } else {
                return alert(file.name + " is not a gif, jpeg, or png image file");
              }
            },
            progress: function(e, data) {
              var progress;
              if(data.context) {
                progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress').removeClass('hide');
                return $('.progress-bar').css('width', progress + '%');
                console.log(progress)
              }
            },
            done: function(e, data){
              if (data.context) {
                console.log('done')
                $('.progress').addClass('hide');
                return data.context.remove();
              }
            }
          });
        </script>
      </div>
    <% end %>

    <div class="form-group" id="block">
      <label>Container Block</label>
      <%= f.select :block_id, block.parent_block_options.collect {|x| [x.name.present? ? "#{x.name} (#{x.blocks.count})" : "Block id: #{x.id} (#{x.blocks.count})", x.id]}, {:include_blank => "-- No container --"}, :class => 'form-control' %>
    </div>
  <% end %>

  <div class="form-group" id="location">
    <label>Location</label>
    <%= f.select :location, Block::REGIONS, {:include_blank => "-- Select a location --"}, :class => 'form-control' %>
    </select>
  </div>

  <div class="form-group" id="bg_color">
    <%= f.label :bg_color %>
    <%= f.text_field :bg_color, class: 'form-control', id: 'spectrum', name: 'block[bg_color]' %>
    <style media="screen">
      .sp-palette .sp-thumb-el {
        width: 32px;
        height: 26px;
        margin: 2px 2px;
        border: solid 0px #d0d0d0;
      }
    </style>
    <script type="text/javascript">
      $("#spectrum").spectrum({
        color: "<%= block.bg_color %>",
        allowEmpty:true,
        showInput: true,
        className: "full-spectrum",
        showInitial: true,
        showPalette: true,
        preferredFormat: "hex",
        localStorageKey: "spectrum.demo",
        move: function (color) {

        },
        show: function () {

        },
        beforeShow: function () {

        },
        hide: function () {

        },
        change: function() {

        },
        palette: [
            ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
            "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
            ["rgb(147, 196, 125)","rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
            "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
            "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
            "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)"]
        ]
      });
    </script>
  </div>

  <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>

    <div class="form-group" id="name">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group" id="about">
      <%= f.label :about %>
      <%= f.text_area :about, class: 'form-control', rows: '6' %>
    </div>

  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" id="position">
        <label>Position</label>
        <%= f.select :position, (1..20).to_a, {},class: 'form-control' %>
      </div>
    </div>
  </div>

  <% if !Block::SYSTEM_BLOCK_TYPES.include?(block.block_type) %>

    <div class="" id="block_links">
      <div class="row">

        <div class="col-sm-6">
          <%= f.label :link %>
          <%= f.text_field :link, class: 'form-control' %>
        </div>

        <div class="col-sm-6">
          <%= f.label :link_text %>
          <%= f.text_field :link_text, class: 'form-control' %>
        </div>

      </div>
    </div>

  <% end %>

</div>
<div class="modal-footer">
  <div class="text-center">
    <%= f.submit 'Save & Close', class: 'btn btn-success' %>
    <button type="submit" name="block[continue_edit]" value='true' class="btn btn-success">
      Save & Continue
    </button>
  </div>
</div>

<% end %>
