<%= form_for(block) do |f| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" ng-init="block = <%= @block.to_json %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', ng_model: 'block.name' %>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about, class: 'form-control' %>
  </div>

  <div class="form-group hide">
    <%= f.label :website_id %>
    <% @block.website_id = @current_website.id %>
    <%= f.text_field :website_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :block_type %>
    <%= f.text_field :block_type, {:include_blank => false}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div ng-init="pages=<%=@current_website.pages.to_json%>;block.page_ids=<%= @block.page_ids %>"></div>
    <ui-select multiple ng-model="block.page_ids" theme="bootstrap">
      <ui-select-match placeholder="Select Pages to attach to...">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="item.id as item in pages | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <select multiple name="block[page_ids][]" ng-model="block.page_ids">
    <% @current_website.pages.each do |page| %>
      <option value="<%=page.id%>"><%=page.name%></option>
    <% end %>
  </select>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, {:include_blank => false}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
