<div id='blocks'>
  <% blocks.each do |block| %>
    <div id="<%= dom_id(block) %>" class="block-main <%= block.block_type%>-type text-center">
      <div id="<%= dom_id(block) %>_bg_color" class="block_bg_color" style=" background-color: <%= block.bg_color if block.bg_color.present? %>;"></div>
      <div id="<%= dom_id(block) %>_bg_image" class="block_bg_image" style="background-image: url('<%= block.image.large if block.image.present? %>');"></div>
      <div class="block-contents">
        <h1 class="block-title">
          <%= block.name %>
          <% if can? :update, block %>
            <div class="btn-group pull-right block-edit-btns">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_block_path(block), remote: true, class: 'btn btn-primary btn-sm' if can? :update, block  %>
              <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_block_path({block_id:block.id, website_id: @current_website.id, block_type: 'sub_block'}), remote: true, class: 'btn btn-success btn-sm' if can? :update, block  %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, block_path(block), method: :delete, remote: true, data: {confirm: "Delete this block?"}, class: 'btn btn-danger btn-sm' if can? :update, block  %>
            </div>
          <% end %>
        </h1>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center">
              <%= block.about.html_safe if block.about.present? %>
            </p>
            <% if block.blocks.present? %>
              <% block.blocks.each_slice(block.blocks_splice_calc).with_index do |block_group, index| %>
                <div class="row">
                  <% block_group.each do |sub_block| %>
                    <div class="text-center col-md-<%= ((12 / block.blocks.each_slice(block.blocks_splice_calc).first.count).to_f).ceil%>
                               col-sm-6 <%= 'col-sm-push-3 col-md-push-0' if block_group.count.odd? && sub_block == block_group.last%>">
                      <div class="group-<%=index%> block-container">
                        <%= render 'blocks/block', block: sub_block %>
                      </div>
                    </div>
                  <% end %>
                  <script type="text/javascript">
                    // $(function() {
                    //     $('.group-<%=index%> .sub_block').matchHeight();
                    // });
                  </script>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      document.addEventListener("turbolinks:load", function () {

        var bg_color = $("#<%= dom_id(block) %>_bg_color").css('background-color');
        if(bg_color != "rgba(0, 0, 0, 0)"){
          $('#<%= dom_id(block) %> h1.block-title').css({
            'color': getContrastYIQ(rgb2hex(bg_color))
          })
          $('.block_no_bg_color, .block_no_bg_color .block-title').css({
            'color': getContrastYIQ(rgb2hex(bg_color))
          })
        }
      });
    </script>
  <% end %>
</div>
