<% blocks.where(block_id: [nil,'']).each do |block| %>
  <% cache [current_user, block, block.page, block.position, block.blocks, block.form, block.form.try(:questions), block.category, block.category.try(:pages)] do %>
    <% unless block.is_empty %>
      <div id="<%= dom_id(block) %>" data-id="<%=block.id%>" class="block-wrapper <%= 'can_edit' if can? :edit, block %>">
        <% if block == blocks.select{|b|!b.is_empty}.first && (can? :edit, block.page) %>
          <div class="new-block new-block-above text-center">
            <%= link_to 'New Block <i class="ion-plus"></i>'.html_safe,
                  new_block_path({page_id: @page.id, position: 1}),
                  class: 'btn btn-default btn-sm',
                  remote: true if @page.present? %>
          </div>
        <% end %>
        <% if lookup_context.find_all("blocks/#{block.block_type}/_#{block.block_type}_blocks_partial.html.erb").any? %>
          <%= render "blocks/#{block.block_type}/#{block.block_type}_blocks_partial", block: block %>
        <% else %>
          <%= render 'blocks/main_blocks_partial', block: block %>
        <% end %>
        <% if can? :edit, block.page %>
          <div class="new-block new-block-below text-center">
            <%= link_to 'New Block <i class="ion-plus"></i>'.html_safe,
                  new_block_path({page_id: @page.id, position: block.position + 1}),
                  class: 'btn btn-default btn-sm',
                  remote: true if @page.present? %>
                  <% if ['hero_images','custom','page_content'].include? block.block_type%>
                    <span class="resize_s btn btn-sm btn-default" style="cursor:row-resize;"><i class="fa fa-arrows-v"></i></span>
                  <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>
