<div id='blocks'>
  <% blocks.each do |block| %>
    <div id="<%= dom_id(block) %>" class="<%= block.block_type%> text-center">
      <h2 class="block-title">
        <%= block.name %>
        <% if can? :update, block %>
          <div class="btn-group pull-right">
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_block_path(block), remote: true, class: 'btn btn-primary inverse btn-sm' if can? :update, block  %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, block_path(block), method: :delete, remote: true, data: {confirm: "Delete this block?"}, class: 'btn btn-danger inverse btn-sm' if can? :update, block  %>
          </div>
        <% end %>
      </h2>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center">
            <%= block.about.html_safe if block.about.present? %>
          </p>
          <div class="row">
            <% block.blocks.try(:each) do |sub_block| %>
              <div class="text-center col-sm-<%= ((12 / block.blocks.count).to_f).ceil%>">
                <div class="block-container">
                  <%= render 'blocks/block', block: sub_block %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
