$('.errors').remove();
$('.has-error').removeClass('has-error');

<% if @block.errors.present? %>
  <% @block.errors.each do |key,error| %>
    $("#<%= key %>").addClass('has-error');
    $("#<%= key %>").append("<div class='errors text-danger'><%=error%></div>")

    toastr["error"]("<%= error.to_s %>", "<%= key.to_s.titleize %>");
  <% end %>

<% else %>

  // toastr["success"]("Block saved")

  <% unless @block.continue_edit.present? %>
    turbolinks_go(location.toString(), 'no_scroll');
    $('.modal').modal('hide');
  <% else %>
    $('#edit_block_content').html("<%=j render 'blocks/edit_form', block: @block, remote: true %>");
  <% end %>

<% end %>
