<script type="text/javascript">
  <%= render 'pages/edit_blocks_table_script.js'%>
</script>

<div>
  <div class="">
    <div class="form-group">
      <h3>
        Blocks
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Title
            </th>
            <th>
              Type
            </th>
            <th>
              Position
            </th>
            <th>
              Location
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <% @page.website.blocks.each do |block| %>
            <tr id="block_<%=block.id%>">
              <td>
                <%= block.id %>
              </td>
              <td>
                <%= block.name %>
              </td>
              <td>
                <%= block.block_type %>
              </td>
              <td>
                <%= block.position %>
              </td>
              <td>
                <%= block.location %>
              </td>
              <td class="text-right">
                <%= link_to 'Edit', edit_block_path(block), remote: true, class: 'btn btn-sm btn-primary' %>
                <%= link_to 'Remove', block_path(block), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete the block #{block.name}"}, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-success" ng-click="blocksCtrl.edit_block_modal({website_id: <%= @page.website_id %>, page_ids: [<%= @page.id %>]})">
      New Page Block
    </button>
  </div>

</div>
