<hr/>
<div>
    <!-- <ul class="nav nav-tabs" role="tablist">
      <li class="<%= !params[:tab].present? ? 'active' : '' %>">
        <%= link_to 'Page Info', "#{@browser_request.path}" %>
      </li>
      <li class="<%= params[:tab] == 'blocks' ? 'active' : '' %>">
        <%= link_to 'Blocks', "#{@browser_request.path}?tab=blocks" %>
      </li>
    </ul>
    <br/> -->
    <div class="tab-content">
      <% if !params[:tab].present? %>
        <div id="page">
          <%= form_for(page) do |f| %>
            <% if page.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:
                </h2>
                <ul>
                <% page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          <dl class="dl-horizontal" >
            <dt></dt>
            <dd class="form-group" id="is_published"><label class="btn btn-default"><%= f.check_box :is_published %> &nbsp; Publish</label></dd>
            <script type="text/javascript">
              $('#is_published input').change(function(){
                if(this.checked){
                  $('#is_published label').removeClass('btn-danger');
                  $('#is_published label').addClass('btn-success');
                }else{
                  $('#is_published label').addClass('btn-danger');
                  $('#is_published label').removeClass('btn-success');                }
              }).change();
            </script>
            <dt><%= f.label :name %></dt>
            <dd class="form-group" id="name"><%= f.text_field :name, class: 'form-control', ng_model: 'page.name'%></dd>
            <script type="text/javascript">
              $('#name input').keyup(function(){
                $('h1.page-title').text($(this).val());
              });
            </script>

            <dt><%= f.label :about, 'Body' %></dt>
            <dd class="" id="about"><%= f.text_area :about, class: 'form-control summernote', data: {attachable_id: @current_website.id, attachable_type: "Website", drop:'false'} %></dd>
            <dd class="form-group" id="images_zone">
              <%= render 'pages/edit_page_images' %>
            </dd>
            <dt><%= f.label :position %></dt>
            <dd class="form-group" id="position"><%= f.text_field :position, class: 'form-control' %></dd>

            <dt><%= f.label :page_id, "Parent page <span class='text-muted'>(optional)</span>".html_safe %></dt>
            <dd class="form-group" id="page">
              <div class="row">
                <div class="col-sm-8">
                  <%= f.select :page_id, @current_website.pages.where.not(id: @page.id).select{ |w| can? :update, w }.collect {|x| [x.name, x.id]}, {:include_blank => "-- No Parent Page --"}, :class => 'form-control' %>
                </div>
                <div class="col-sm-4" id="show_sub_menu">
                  <label class="btn btn-default btn-block"><%= f.check_box :show_sub_menu %> &nbsp; Show Sub Menu</label>
                </div>
              </div>
            </dd>
              <script type="text/javascript">
                $('#page select').change(function(){
                  if($(this).val()){
                    $('#show_sub_menu input').prop("disabled",false);
                  }else{
                    $('#show_sub_menu input').prop("disabled",true);
                  }
                }).change();
              </script>
            </dd>
          </dl>
          <hr/>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd class="form-group">
              <button type="submit" class="btn btn-success">

                  Save

              </button>

              <%= link_to 'Cancel', @page || @current_website, class: "btn btn-default" %>

              <%= link_to 'Delete', @page, method: :delete, class: "btn btn-danger pull-right", :data => {:confirm => 'Are you sure you want to delete this page?'} if @page.id.present? %>

            </dd>
          </dl>
          <% end %>

        </div>
      <% end %>
      <!-- Blocks tab content -->
      <% if params[:tab] == 'blocks' %>
        <div id="blocks">
          <%= render 'pages/edit_blocks_table', blocks: @page.blocks %>
        </div>
      <% end %>

    </div>

    <br/>
    <br/>
</div>
