<div>
    <!-- <ul class="nav nav-tabs" role="tablist">
      <li class="<%= !params[:tab].present? ? 'active' : '' %>">
        <%= link_to 'Page Info', "#{@browser_request.path}" %>
      </li>
      <li class="<%= params[:tab] == 'blocks' ? 'active' : '' %>">
        <%= link_to 'Blocks', "#{@browser_request.path}?tab=blocks" %>
      </li>
    </ul>
    <br/> -->
    <div class="tab-content">
      <% if !params[:tab].present? %>
        <div id="page">
          <%= form_for(page) do |f| %>
            <% if page.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:
                </h2>
                <ul>
                <% page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          <dl class="dl-horizontal" >
            <dt></dt>
            <dd class="form-group">
              <span id="is_published">
                <label class=""><%= f.check_box :is_published %> &nbsp; Publish</label>
              </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>
                <label class=""><%= f.check_box :show_in_menu, class:'page_show_in_menu' %> &nbsp; Show in menu</label>
              </span>
              <script type="text/javascript">
                show_in_menu_change = function(){
                  if ($('.page_show_in_menu').prop('checked') === true){
                    $('.show_in_menu_true').show();
                  }else{
                    $('.show_in_menu_true').hide();
                  }
                }
                $('.page_show_in_menu').change(show_in_menu_change);
              </script>
            </dd>
            <% if page.pages.present? %>
              <dd class="show_in_menu_true form-control">
                <div class="row">
                  <div class="col-sm-push-8 col-sm-4">
                    This page has <%= page.pages.count %> sub pages
                  </div>
                </div>
              </dd>
            <% end %>
            <dt class="show_in_menu_true"><%= f.label :page_id, "Parent page <span class='text-muted'>(optional)</span>".html_safe %></dt>
            <dd class="show_in_menu_true form-group" id="page">
              <div class="row">
                <div class="col-sm-8">
                  <%= f.select :page_id, @current_website.pages.where.not(id: @page.id, show_in_menu: [false, nil]).select{ |w| (can? :update, w) && !w.page_id }.collect {|x| [x.name, x.id]}, {:include_blank => "-- No Parent Page --"}, disabled: @page.pages.present?, :class => 'form-control' %>
                </div>
                <div class="col-sm-4" id="show_sub_menu">
                  <label class="btn btn-default btn-block"><%= f.check_box :show_sub_menu %> &nbsp; Show Sub Menu</label>
                </div>
              </div>
              <script type="text/javascript">
                $('#page select').change(function(){
                  if($(this).val() || <%= page.pages.present? %>){
                    $('#show_sub_menu input').prop("disabled",false);
                  }else{
                    $('#show_sub_menu input').prop("disabled",true);
                  }
                }).change();
              </script>
            </dd>
            <dt class="show_in_menu_true"><%= f.label :position %></dt>
            <dd class="show_in_menu_true form-group" id="position">
              <%= f.select :position, (1..20).to_a, {},class: 'form-control' %>
            </dd>
            <dt><%= f.label :name %></dt>
            <dd class="form-group" id="name"><%= f.text_field :name, class: 'form-control', ng_model: 'page.name'%></dd>
            <script type="text/javascript">
              $('#name input').keyup(function(){
                $('h1.page-title').text($(this).val());
              });
              show_in_menu_change();

            </script>

            <dt><%= f.label :about, 'Body' %></dt>
            <dd class="" id="about">
              <%= f.text_area :about, class: 'form-control summernote', data: {attachable_id: @current_website.id, attachable_type: "Website", drop:'false'} %>
              <script type="text/javascript">
                timyMceSetup('.summernote', '/websites/<%=@current_website.id%>/stylesheet.css', '#tiny_upload');
                fixScroll({'fix': '.mce-toolbar-grp','top_marker': '#about','bottom_market': '#about_bottom'});
              </script>
              <div id="about_bottom">
              </div>
              <input name="image[asset]" data-attachable-id="<%=@current_website.id%>" data-attachable-type="Website" type="file" id="tiny_upload" class="hidden" onchange="">
              <br/>
            </dd>
            <dd class="form-group" id="images_zone">
              <%= render 'pages/edit_page_images' %>
            </dd>
            <dt>
              <span><label>Categories</label></span>
            </dt>
            <dd class="form-group">
              <% @current_website.categories.each do |category| %>
                <label>
                  <input type="checkbox"
                         name="page[category_ids][]"
                         value="<%= category.id %>"
                         <%= @page.category_ids.include?(category.id) ? 'checked' : '' %> > <%= category.name %>
                </label> &nbsp;&nbsp;&nbsp;&nbsp;
              <% end %>
            </dd>
            <dt>
              <label>Page redirect</label>
            </dt>
            <dd>
              <%= f.text_field :redirectable_url, class: 'form-control' %>
            </dd>
          </dl>
          <hr/>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd class="form-group">
              <button type="submit" class="btn btn-success">

                  Save

              </button>

              <%= link_to 'Cancel', params[:return_to] || @page || @current_website, class: "btn btn-default" %>

              <%= link_to 'Delete', @page, method: :delete, class: "btn btn-danger pull-right", :data => {:confirm => 'Are you sure you want to delete this page?'} if @page.id.present? %>

            </dd>
          </dl>
          <% end %>

        </div>
      <% end %>
      <!-- Blocks tab content -->
      <% if params[:tab] == 'blocks' %>
        <div id="blocks">
          <%= render 'pages/edit_blocks_table', blocks: @page.blocks %>
        </div>
      <% end %>

    </div>

    <br/>
    <br/>
</div>
