<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class: 'form-control'%>
  </div>

  <div class="form-group" id="about">
    <%= f.label :about %>
    <%= f.text_area :about, class: 'form-control summernote' %>
  </div>

  <div class="form-group">
    <%= f.label :website_id %>
    <%= f.select :website_id, Website.select{ |w| can? :update, w }.collect {|x| [x.name, x.id]}, {}, :multiple => false, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_id %>
    <%= f.text_field :page_id, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit 'Save', class: 'button inverse success' %>
  </div>
<% end %>
