<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class: 'form-control'%>
  </div>

  <div class="form-group" id="about">
    <%= f.label :about %>
    <%= f.text_area :about, class: 'form-control summernote' %>
  </div>

  <div class="form-group hide">
    <%= f.label :website_id %>
    <%= f.select :website_id, Website.select{ |w| can? :update, w }.collect {|x| [x.name, x.id]}, {}, :multiple => false, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_id, "Parent page <span class='text-muted'>(optional)</span>".html_safe %>
    <%= f.select :page_id, @current_website.pages.where.not(id: @page.id).select{ |w| can? :update, w }.collect {|x| [x.name, x.id]}, {:include_blank => "-- No Parent Page --"}, :class => 'form-control' %>
  </div>

  <div>
    <button type="submit" class="btn btn-success">
        <i class='glyphicon glyphicon-floppy-disk'></i> Save
    </button>
    <%= link_to 'Cancel', @page || @current_website, class: "btn btn-default" %>
  </div>
  <br/>
  <br/>
<% end %>
