<% cache [@page, @page.website, @page.blocks, current_user] do %>
  <div class="page-container page-container-<%= @page.left_blocks.present? ? 'with-left' : 'without-left' %> page-container-<%= @page.right_blocks.present? ? 'with-right' : 'without-right' %>">
    <% unless @page.image.present? && !@page.about.include?(@page.image.asset_file_name)%>
      <div class="page-title-section">
        <h2 class="page-title">
          <%= @page.name %>
        </h2>
      </div>
    <% end %>
    <div class="page-main-section">
      <div class="page-nav-section">
        <%= render 'pages/edit_page_nav' if can? :update, @page %>
      </div>
      <%= content_tag('div', (render 'blocks/side_blocks', blocks: @page.left_blocks), class: "page-blocks-left") if @page.left_blocks.present? %>

      <div class="page-main">
        <%= @page.about.html_safe %>
        <% if @page.categories.present? %>
          <%= render 'categories/page_footer', categories: @page.categories %>
        <% end %>
        <%= render 'pages/summaries', pages: @page.pages %>
        <br/>
      </div>

      <%= content_tag('div', (render 'blocks/side_blocks', blocks: @page.right_blocks), class: 'page-blocks-right') if @page.right_blocks.present? %>
    </div>
  </div>
<% end %>
<% content_for :top_block do %>
  <%= content_tag('div', "#{render 'blocks/main_blocks', blocks: @page.top_blocks}".html_safe, id: 'top_blocks', class: 'top_container') if @page.top_blocks.present?%>
  <%= render 'pages/top_image', blocks: @page.image if @page.image.present? && !@page.about.include?(@page.image.asset_file_name)%>
<% end %>
<% content_for :bottom_block do %>
  <%= content_tag('div', "#{render 'blocks/main_blocks', blocks: @page.bottom_blocks}".html_safe, id: 'bottom_blocks', class: 'bottom_container') %>
<% end %>
