$('.errors').remove();
$('.has-error').removeClass('has-error');

<% if @page.errors.present? %>
  <% @page.errors.each do |key,error| %>
    $("#<%= key %>").addClass('has-error');
    $("#<%= key %>").append("<div class='errors text-danger'><%=error%></div>")

    toastr["error"]("<%= error.to_s %>", "<%= key.to_s.titleize %>");
  <% end %>

<% else %>
  $('.modal').on('hidden.bs.modal', function () {
    turbolinks_go(location.toString(), 'no_scroll');
  });
  $('.modal').modal('hide');
<% end %>
