<% if block.blocks.present? %>
  <div class="row block-sortable-connect" data-block-id="<%= block.id %>" data-update-url="/blocks/sort.js?block_id=<%= block.id %>" id="<%= dom_id(block) %>">
    <% block.blocks.each do |sub_block| %>
      <div data-id="<%= sub_block.id %>" style="position: relative;" class="text-center col-md-<%= 12 / block.columns %>
                 col-sm-6 <%= 'col-sm-push-3 col-md-push-0' if block.blocks.count.odd? && sub_block == block.blocks.last%>" id="<%= dom_id(sub_block) %>">
        <div class="block-group-<%=block.id%> block-container">
          <%= render 'blocks/block', block: sub_block %>
        </div>
      </div>
    <% end %>
    <!-- <script type="text/javascript">
      $(function() {
          $('.block-group-<%=block.id%>  .sub_block').matchHeight();
      });
    </script> -->
  </div>
  <style media="screen">
    .ui-sortable-helper {
      padding: 0 !important;
      border-radius: 0px;
      min-height: 0px;
      margin: 0px;
    }
  </style>

  <script type="text/javascript">
    $( ".block-sortable-connect" ).sortable();
    $( ".block-sortable-connect" ).sortable({
      handle: '.sub_block-handle',
      tolerance: 'pointer',
      connectWith: ".block-sortable-connect",
      update: function( event, ui ) {
        return $.post($(this).data('update-url'), $(this).sortable('serialize'));
      }
    });

  </script>
<% end %>
