<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_common' %>

    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %> has-<%= @current_website.style['nav-fixed'].present? ? 'fixed' : 'static' %>-navbar">
    <%= render 'layouts/google_script' %>

    <%= render 'layouts/mobile_nav' %>

    <div id="body">
    <!-- Fixed navbar -->

    <%= render 'layouts/top_nav' %>

    <%= render 'layouts/messages' %>

    <%= render 'layouts/hero_image' %>

    <%= yield :hero %>

    <%= yield :top_block %>

    <div class="container">
      <%= yield %>
    </div>

    <%= yield :bottom_block %>

    <footer class="footer">
      <div class="container">
        <%= yield :footer %>
        <p class="text-muted text-center"> <%= @current_website.name %> &copy; <%= Time.now.year %></p>
      </div>
    </footer>
  </div>

  <%= render 'layouts/mobile_nav_scripts' %>

  </body>
</html>
