<%= form_for(category, remote: (remote||=false)) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dd>
      <h1><%=action_name.capitalize%> Category</h1>
    </dd>
    <dt class="dt-label">
      Name
    </dt>
    <dd class="form-group">
      <%= f.text_field :name, class: "form-control" %>
    </dd>
    <dt class="dt-label">
      Subtitle
    </dt>
    <dd class="form-group">
      <%= f.text_field :subtitle, class: "form-control" %>
    </dd>
    <dt class="dt-label">
      Summary
    </dt>
    <dd class="form-group">
      <%= f.text_area :description, class: "form-control", placeholder: 'Short summary' %>
    </dd>
    <dt class="dt-label">
      About
    </dt>
    <dd class="form-group">
      <%= f.text_area :about, class: "form-control" %>
    </dd>
    <dt class="dt-label">
      Parent Category
    </dt>
    <dd class="form-group">
      <%= f.hidden_field :website_id, value: category.website_id || @current_website.id %>
      <%= f.select :category_id, @current_website.categories.where.not(id: category.categories.pluck(:id) << category.id).collect {|x| [x.name, x.id]}, {:include_blank => "-- No Parent Category --"}, :multiple => false, :class => 'form-control' %>

      <%# f.text_field :category_id, class: "form-control" %>
    </dd>
    <dt class="dt-title"></dt>
    <dd class="form-group">
      <input name='category[settings][hide_date]' type="hidden" value="">
      <label><input type="checkbox" id="category_settings_hide_date" name='category[settings][hide_date]' <%=category.settings['hide_date'].present? ? 'checked' : '' %> value="true"> Hide Date</label>
    </dd>
    <dd>
      <%= f.submit 'Save Category', class: 'btn btn-success' %>
    </dd>
  </dl>
<% end %>
