<div class="category-page-list" id="<%= dom_id(page) %>">
  <div class="row">

    <% if page.page_image.present? %>
      <div class="col-sm-4">
        <%= link_to "#{image_tag page.page_image.medium, class: 'category-list-image'}".html_safe, page %>
      </div>
    <% end %>

    <div class="col-sm-<%= page.page_image.present? ? '8' : '12' %>" >

      <div class="page-title-section">
        <h2 class="page-title">
          <%= link_to page.name, page %>
          <div class="btn-group pull-right">
            <%= link_to '<i class="ion-edit"></i> Edit'.html_safe, edit_page_path(page, return_to: "#{request.fullpath}##{dom_id(page)}"), remote: true, class: 'btn btn-sm btn-default' if can? :edit, page %>
          </div>
        </h2>
        <% if category.settings['hide_date'].blank? %>
          <small class="text-muted"><%= page.created_at.strftime('%A, %B %d, %Y') %></small>
        <% end %>
      </div>

      <div class="category-page-about">
        <%= truncate(strip_tags(page.description.present? ? page.description : page.about), :length => 250) %>
        <% if page.categories.present? %>
          <%= render 'categories/page_footer', categories: page.categories %>
        <% end %>
      </div>

    </div>

  </div>
</div>
