<div class="category-page-list">
  <div class="page-title-section" id="<%= dom_id(page) %>">
    <h2 class="page-title">
      <%= link_to page.name, page %>
      <div class="btn-group pull-right">
        <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_page_path(page, return_to: "#{request.fullpath}##{dom_id(page)}"), style: 'margin-top: -15px;', class: 'btn-circle btn btn-sm btn-primary' if can? :edit, page %>
      </div>
    </h2>
  </div>
  <div class="category-page-about">
    <%= page.about.html_safe %>
    <% if page.categories.present? %>
      <%# render 'categories/page_footer', categories: page.categories %>
    <% end %>
  </div>
  <%= '<hr style="opacity:0.3"/>'.html_safe %>
</div>
