<% cache [@current_website.pages, current_user, @page, @page.try(:pages)] do %>
  <% if can? :edit, @current_website %>
    <li class="new_page_link">
      <%= link_to "<i class='fa-fw fa fa-plus'></i>".html_safe, new_website_page_path(@current_website), remote: true, class: 'text-success' %>
    </li>
  <% end %>
  <% @current_website.pages.where(page_id: [nil,''], show_in_menu: true).each do |page| %>
    <li class='<%= "dropdown" if page.pages.where(show_in_menu: true).present? || (can? :edit, @current_website)%> <%= "active" if page.id == @page.try(:id) || page.try(:page_ids).include?(@page.try(:id))%> page_link'>
      <% if page.style['navbar-btn'].present? %>
        <span>
          <%= link_to "#{page.name} #{'<span class="caret"></span>' if page.pages.present?}".html_safe, page_path(page, 'redirect'), class: "dropdown-toggle #{page.style['navbar-btn-class'].present? ? page.style['navbar-btn-class'] : 'btn btn-success'} navbar-btn", 'data-toggle': '' %>
        </span>
      <% else %>
        <%= link_to "#{page.name} #{'<span class="caret"></span>' if page.pages.present?}".html_safe, page_path(page, 'redirect'), class: 'dropdown-toggle', 'data-toggle': '' %>
      <% end %>
      <ul class="dropdown-menu">
        <% page.pages.where(show_in_menu: true).each do |page2| %>
          <li class="<%= "active" if page2.id == @page.try(:id)%>">
            <%= link_to page2.name, page_path(page2, 'redirect'), class: 'dropdown-toggle' %>
          </li>
        <% end %>
        <% if (can? :edit, @current_website) %>
          <li class="new_page_link bg-info">
            <%= link_to "<strong><i class='fa fa-plus'></i> &nbsp;Sub Page</strong>".html_safe, new_website_page_path(@current_website, {page_id: page.id, position: (page.pages.where(show_in_menu: true).last.position + 1 if page.pages.present?)}), remote: true, class: 'text-success' %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>
