<% cache [@current_website.pages, current_user, @page, @page.try(:pages)] do %>
  <% @current_website.pages.where(page_id: [nil,''], show_in_menu: true).each do |page| %>
    <% if page.pages.present? %>
      <li class='dropdown <%= "active" if page.id == @page.try(:id) || page.try(:page_ids).include?(@page.try(:id))%>'>
        <%= link_to "#{page.name} <span class='caret'></span>".html_safe, page_path(page, 'redirect'), class: 'dropdown-toggle', 'data-toggle': '' %>
        <ul class="dropdown-menu">
          <% page.pages.where(show_in_menu: true).each do |page2| %>
            <li class="<%= "active" if page2.id == @page.try(:id)%>">
              <%= link_to page2.name, page_path(page2, 'redirect') %>
            </li>
          <% end %>
        </ul>
      </li>
    <% else %>
      <li class="<%= "active" if page.id == @page.try(:id) %>">
        <% if page.style['navbar-btn'].present? %>
          <span><%= link_to page.name, page_path(page, 'redirect'), class: "#{page.style['navbar-btn-class'].present? ? page.style['navbar-btn-class'] : 'btn btn-success'} navbar-btn" %></span>
        <% else %>
          <%= link_to page.name, page_path(page, 'redirect') %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <li>
  </li>
<% end %>
