<nav id="top_nav" class="navbar navbar-<%= @current_website.style['nav-inverse'].present? ? 'inverse' : 'default' %> navbar-<%= @current_website.style['nav-fixed'].present? ? 'fixed' : 'static' %>-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="pull-right"><i class="glyphicon glyphicon-menu-hamburger"></i> MENU</span>
      </button> -->
      <button type="button" id="navbar-toggle" class="navbar-toggle collapsed" onclick="event.preventDefault();open_right();">
        <span class="sr-only">Toggle navigation</span>
        <span class="pull-right">MENU <i class="fa fa-bars"></i></span>
      </button>
      <!-- <a href class="btn btn-info" onclick="event.preventDefault();snapper.open('right')">Open right</a> -->
      <% if @current_website.logo.try(:asset).present?  %>
        <a class="logo navbar-brand <%= "#{@current_website.logo.class.name.tableize}_#{@current_website.logo.id}" %>" href="/">
          <%= image_tag @current_website.logo.medium, ng_hide: 'baseCtrl.website.logo.medium' %>
        </a>
      <% else %>
        <a class="logo navbar-brand" href="/"><%= @current_website.name %></a>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <%= render 'layouts/nav_list_items' %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<% if (can? :update, @current_website) && action_name == 'home' %>
  <div class="edit_link">
    <div class="btn-group-vertical">
      <%= link_to '<i class="fa-fw fa fa-pencil"></i> Edit site'.html_safe, edit_website_path(@current_website), class: 'btn btn-primary btn-sm  text-left' %>
    </div>
    <div class="btn-group-vertical">
      <%= link_to '<i class="fa-fw fa fa-image"></i> Hero images'.html_safe, "/websites/#{@current_website.id}/edit_heroes", remote: true, class: 'btn btn-info btn-sm  text-left' %>
    </div>
    <div class="btn-group-vertical">
      <%= link_to '<i class="fa-fw fa fa-plus"></i> Add Block'.html_safe, new_block_path({website_id: @current_website.id, front_page: true}), remote: true, class: 'btn btn-success btn-sm' %>
    </div>
  </div>
<% end %>
