<nav class="navbar navbar-<%= inverse ? 'inverse' : 'default' %> navbar-<%= fixed ? 'fixed' : 'static' %>-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="pull-right"><i class="glyphicon glyphicon-menu-hamburger"></i> MENU</span>
      </button> -->
      <button type="button" id="navbar-toggle" class="navbar-toggle collapsed" onclick="event.preventDefault();open_right();">
        <span class="sr-only">Toggle navigation</span>
        <span class="pull-right">MENU <i class="fa fa-list"></i></span>
      </button>
      <script type="text/javascript">
        function open_right(){
          if( snapper.state().state=="right" ){
              snapper.close();
          } else {
              snapper.open('right');
          }
        }
      </script>
      <!-- <a href class="btn btn-info" onclick="event.preventDefault();snapper.open('right')">Open right</a> -->
      <% if @current_website.logo.try(:asset).present?  %>
        <a class="logo navbar-brand <%= "#{@current_website.logo.class.name.tableize}_#{@current_website.logo.id}" %>" href="/">
          <%= image_tag @current_website.logo.medium, ng_hide: 'baseCtrl.website.logo.medium' %>
        </a>
      <% else %>
        <a class="logo navbar-brand" href="/"><%= @current_website.name %></a>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <%= render 'layouts/nav_list_items' %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe, edit_website_path(@current_website), class: 'edit_link' if can? :update, @current_website %>
